S2K/s2kXRefManagement/com.imperialdade.s2k.xref.management/Schemas/S2k-Order-Mgmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="/T1671132587587Converted/JsonSchema" xmlns:tns="/T1671132587587Converted/JsonSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Request" type="tns:Request"/>
    <xs:complexType name="Request">
        <xs:sequence>
            <xs:element minOccurs="0" name="fileName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Reply" type="tns:Reply"/>
    <xs:complexType name="Reply">
        <xs:sequence>
            <xs:element minOccurs="0" name="Message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
