WP/p12/podSendDocument/com.imperialdade.proofofdelivery/Schemas/podOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.example.org/PODOutput" 
xmlns:tns="http://www.example.org/PODOutput" elementFormDefault="qualified">



    <element name="PODOutput" type="tns:podOutput"></element>
    
    <complexType name="podOutput">
    	<sequence>
    		<element name="filename" type="string" maxOccurs="1" minOccurs="0"></element>
    		
    	</sequence>
    </complexType>
</schema>