APLUS/apt/podSendDocument/com.imperialdade.proofofdelivery/Schemas/podInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.example.org/PODInput" 
xmlns:tns="http://www.example.org/PODInput" elementFormDefault="qualified">



    <element name="PODInput" type="tns:podInput"></element>
    
    <complexType name="podInput">
    	<sequence>
    		<element name="httpurl" type="string" maxOccurs="1" minOccurs="0"></element>
    		<element name="S2KOrderNumber" type="string" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>
</schema>