APLUS/apt/podSendDocument/com.imperialdade.proofofdelivery/Schemas/PrepareUrl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/PrepareUrl" elementFormDefault="qualified" targetNamespace="http://www.example.org/PrepareUrl">
     
    <complexType name="RootElement">
  	<sequence>
  		<element name="KeyID" type="string"></element>
  		<element name="UserValue" type="string"></element>
  	</sequence>
  </complexType>

  <complexType name="PathElements">
  	<sequence>
  		<element name="PathElement" type="tns:RootElement" minOccurs="0" maxOccurs="unbounded"></element>
  	</sequence>
  </complexType>

  <element name="PathElements" type="tns:PathElements"></element>
</schema>
